@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: #000; }

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 1fr 0.1fr;
      grid-template-rows: 0.1fr 1fr 0.1fr;
  padding: 10px;
  background-color: transparent;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/4573d843760103.57fd6d4a91228.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh; }

button {
  cursor: pointer;
  background-color: transparent; }

.transform-x {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.opos {
  opacity: 0; }

.header h1, .content-container h2, .content-container b, .nav-vert p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: normal; }

.content-container ol, .content-container p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal; }

.footer p, .content-container .title-container span, .navigation a, .nav-vert .inf-text, .nav-vert a {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: normal; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  width: 100%;
  height: 80px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2; }
  .header .icon-container {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px; }
    .header .icon-container .icon {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background-image: url("https://naked-science.ru/includ092119937/123.jpg");
      background-size: 100% 100%; }
  .header .header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(210, 65, 54, 0.9);
    border: 3px solid #a5322a;
    border-radius: 3px;
    height: 100%;
    width: 100%; }
  .header h1 {
    text-transform: uppercase;
    color: white;
    font-size: 30px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(210, 65, 54, 0.9);
  border: 3px solid #a5322a;
  border-radius: 3px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }
  .footer p {
    font-size: 18px;
    color: #fff; }

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr;
      grid-template-columns: 0.3fr 1fr;
  -ms-grid-rows: 0.01fr 1fr;
      grid-template-rows: 0.01fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  min-height: 510px;
  padding-bottom: 10px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }
  .main .grid-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3; }
  .main .grid-item:nth-of-type(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2; }
  .main .grid-item:nth-of-type(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }

.start {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #fff;
  padding: 40px;
  z-index: 100; }
  .start .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid black;
    padding: 20px 45px; }
  .start .min-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .start .min-text p {
      text-transform: uppercase;
      text-align: center;
      font-size: 20px; }
  .start .kaf-text {
    padding-bottom: 80px; }
    .start .kaf-text p {
      font-size: 16px; }
  .start .tem-text {
    padding-bottom: 20px; }
    .start .tem-text p {
      text-align: center;
      font-size: 22px; }
  .start .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 20px;
    width: 100%; }
    .start .block .button-container {
      top: 40px;
      left: 39%;
      position: absolute; }
      .start .block .button-container a {
        color: #000;
        text-decoration: none;
        display: block;
        padding: 10px 70px;
        background-color: #f8f8f8;
        border: 1px solid #aaaaaa;
        -webkit-box-shadow: inset 1px 0px 29px 0px rgba(0, 0, 0, 0.35);
                box-shadow: inset 1px 0px 29px 0px rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .start .block .button-container a:hover {
          background-color: #a8a8a8; }
    .start .block .persons-container .person {
      padding-bottom: 15px; }
      .start .block .persons-container .person p {
        text-align: right;
        font-size: 16px; }
  .start .time-text p {
    text-transform: capitalize;
    font-size: 16px; }

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 181, 130, 0.9);
  border: 2px solid #b88b62;
  border-radius: 4px;
  padding: 10px 15px; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%; }

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .buttons-container .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 100px;
    width: 40px;
    height: 50px; }
    .buttons-container .button-container:first-of-type button {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .buttons-container button {
    position: relative;
    width: 100%;
    height: 100%;
    fill: rgba(235, 138, 62, 0.9);
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .buttons-container button a {
      position: absolute;
      width: 100%;
      height: 100%; }
    .buttons-container button:hover {
      fill: rgba(179, 105, 49, 0.9); }

.content-container {
  height: 100%; }
  .content-container .box-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 85%; }
    .content-container .box-row .col:first-of-type {
      width: 60%; }
    .content-container .box-row .col:last-of-type {
      width: 40%; }
    .content-container .box-row .col-2:first-of-type {
      width: 51%; }
    .content-container .box-row .col-2:last-of-type {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end; }
    .content-container .box-row .col-3 {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .content-container .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%; }
    .content-container .video-container iframe {
      width: 75%;
      height: 85%; }
  .content-container .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 10px; }
    .content-container .image-container .pad {
      padding-top: 50px; }
  .content-container .image-container-x {
    width: 100%;
    height: 90%; }
  .content-container .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .content-container .center-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
  .content-container .title-container {
    padding-bottom: 10px; }
    .content-container .title-container span {
      font-size: 16px;
      text-transform: lowercase; }
    .content-container .title-container .pr2 {
      padding-right: 55px; }
  .content-container h2 {
    text-indent: 25px;
    text-transform: uppercase; }
  .content-container .text-container a {
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .content-container .text-container a:hover {
      color: #464646; }
  .content-container ol {
    color: #1d1d1d; }
  .content-container p {
    text-align: justify;
    font-size: 18px;
    text-indent: 25px;
    margin-bottom: 5px;
    color: #1d1d1d;
    padding-right: 20px; }
  .content-container b {
    color: black; }
  .content-container .list-container {
    padding-left: 40px; }
    .content-container .list-container p {
      text-indent: 5px; }

.big-box-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 5px; }
  .big-box-new .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10%;
    height: 80%;
    border-radius: 5px; }
    .big-box-new .button-container:first-of-type {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .big-box-new .button-container button {
      position: relative;
      width: 100%;
      fill: rgba(235, 138, 62, 0.9);
      -webkit-transition: fill 0.3s;
      transition: fill 0.3s; }
      .big-box-new .button-container button:hover {
        fill: rgba(179, 105, 49, 0.9); }
      .big-box-new .button-container button a {
        position: absolute;
        width: 100%;
        height: 100%; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%; }
  .navigation .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: auto;
    padding: 5px 3.5%;
    background-color: rgba(235, 138, 62, 0.9);
    border: 2px solid #b96b30;
    border-radius: 4px; }
  .navigation a {
    font-size: 22px;
    color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .navigation a:hover {
      color: #e6e6e6; }

.nav-vert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 12px 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 90, 70, 0.9);
  border: 2px solid #523d30;
  border-radius: 4px; }
  .nav-vert .title-container {
    padding-bottom: 10px; }
  .nav-vert p {
    text-align: center;
    color: white;
    font-size: 30px; }
  .nav-vert .hr-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 10px; }
    .nav-vert .hr-container .hr-1 {
      display: block;
      width: 90%;
      height: 1px;
      background-color: #fff;
      margin-bottom: 5px; }
    .nav-vert .hr-container .hr-2 {
      display: block;
      width: 70%;
      height: 1px;
      background-color: #fff; }
  .nav-vert .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .nav-vert .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 8px; }
  .nav-vert .inf-text {
    font-size: 20px;
    text-align: center;
    color: white; }
  .nav-vert a {
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .nav-vert a:hover {
      color: #ec7373; }
  .nav-vert .hr-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .nav-vert .hr-link hr {
      display: block;
      width: 70%;
      height: 1px;
      background-color: #fff;
      margin-bottom: 5px; }
